@use "../../styles/colors" as Colors;
.pagosPage_Titulo {
  position: absolute;
  left: 10%;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.25rem;
  color: Colors.$primary-color;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.pagosPage_ProductosContenedor {
  background-color: Colors.$white-color;
  border: 4px solid Colors.$primary_dark-color;
  border-radius: 1rem;
  width: 32%;
  height: 64%;
  position: absolute;
  left: 9%;
  top: 16%;
  padding-top: 0px;
  margin: 5px;
  overflow: auto;
}

.pagosPage_ProductosCabecera {
  width: 100%;
  height: 15%;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: Colors.$gray-color;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
}

.pagosPage_ProductosTotal {
  background-color: Colors.$white-color;
  width: 35%;
  height: 8%;
  position: absolute;
  left: 6%;
  top: 82%;
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: Colors.$primary_dark-color;
}

.pagosPage_totalValor {
  width: 70%;
  background-color: Colors.$gray-color;
  text-align: center;
}
.pagosPage_TituloCliente {
  position: absolute;

  padding-right: 100px;
  left: 43.5%;
  top: 16%;
  font-size: 1.5rem;
  font-weight: bold;
  color: Colors.$primary_dark-color;
}
.pagosPage_Clientecontenedor {
  background-color: Colors.$white-color;
  border: 4px solid Colors.$primary_dark-color;
  border-radius: 0.75rem;
  margin: 5px;

  width: 38%;
  height: 40%;

  position: absolute;
  left: 43%;
  top: 20%;
  overflow: auto;
}

.pagosPage_ClienteFormulario {
  width: 92%;
  position: absolute;
  left: 4%;
  top: 15%;
}

.pagosPage_ClienteCabecera {
  width: 100%;
  height: 15%;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: Colors.$gray-color;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
}

.pagosPage_ClienteBoton {
  position: absolute;
  top: 82%;
  left: 68%;
  width: 32%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.pagosPage_InfoCompraTitulo {
  background-color: Colors.$white-color;
  width: 30%;
  height: 8%;
  position: absolute;
  left: 43%;
  top: 61%;
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: Colors.$primary_dark-color;
}
.pagosPage_ComboBox {
  width: 20%;
  height: 8%;
  position: absolute;
  left: 43%;
  top: 68%;
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: Colors.$primary_dark-color;
}
.pagosPage_InfoCompraContenido {
  width: 26.1%;
  height: 7%;
  position: absolute;
  left: 43%;
  top: 75%;
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: Colors.$primary_dark-color;
}

.pagosPage_ProductosLista {
  padding-top: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  row-gap: 0.5rem;
}

.pagosPage_productContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.pagosPage_Cantidad {
  text-align: center;
  background-color: Colors.$gray-color;
  border-radius: 0.5rem;
  color: Colors.$primary_dark-color;
  padding: 15px;
  width: 5%;
}

.pagosPage_Producto {
  text-align: center;
  background-color: Colors.$gray-color;
  border-radius: 0.5rem;
  color: Colors.$primary_dark-color;

  font-weight: bold;

  padding: 15px;
  width: 60%;
}

.pagosPage_Valor {
  border-radius: 0.5rem;
  color: Colors.$primary_dark-color;
  padding: 15px;
}

.show-elementPagos {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fadeInPagos;
  background-color: rgb(225, 225, 255);
}

.hide-elementPagos {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fadeOutPagos;
  animation-name: rotate;
}
.pagosPage_stepper {
  width: 100%;
  height: 4%;
  position: absolute;
  bottom: 5%;
}
@keyframes fadeInPagos {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutPagos {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
