.carta {
  margin: 0;
  display: flex;
  flex-direction: column;

  border: 1px solid #ccc;
  padding: 1rem;
}

.loginPage_Titulo {
  color: #226f54;
  margin-top: 100px;
  margin-left: 710px;
  font-size: xx-large;
}

.formulario {
  width: 500px; //ancho que ocupa el objeto en la pagina
  height: 70px; //distancia con los botones de abajo

  margin: auto;
}

.loginPageHiperLink {
  margin-left: 550px;
  padding: 65px;
}

.botonInicio {
  margin-left: 550px;
  margin-top: -120px;
  padding: 70px; //el margen invisible que tienen los objetos
}
