.carta {
  margin: 0;
  display: flex;
  flex-direction: column;

  border: 1px solid #ccc;
  padding: 1rem;
}

.datosInicioSesion {
  width: 500px;
  padding: 200px;
  margin: auto;
}

.LoginPage_Titulo {
  color: #226f54;
  margin-top: 10px;
  margin-left: 710px;
}

.botonInicio {
  margin-top: 0px;
  margin-left: 800px;
}

.botonRegistro {
  margin-top: 0px;
  margin-left: 500px;
}
