{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "!test": "./src/__test__/",
          "!assets": "./src/assets/",
          "!components": "./src/components/",
          "!contexts": "./src/contexts/",
          "!redux": "./src/redux/",
          "!styles": "./src/styles/"
        }
      }
    ]
  ]
}
