{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "~": "./src/",
          "~test": "./src/__test__/",
          "~actions": "./src/actions/",
          "~assets": "./src/assets/",
          "~components": "./src/components/",
          "~contexts": "./src/contexts/",
          "~containers": "./src/containers/",
          "~hooks": "./src/hooks/",
          "~pages": "./src/pages/",
          "~reducers": "./src/reducers/",
          "~redux": "./src/redux/",
          "~routes": "./src/routes/",
          "~styles": "./src/styles/",
          "~types": "./src/types/"
        }
      }
    ]
  ]
}
