{
  "presets": [["@babel/preset-env", { "targets": { "node": "current" } }], "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "~": "./src/",
          "~mocks": "./src/__mocks__/",
          "~test": "./src/__test__/",
          "~actions": "./src/actions/",
          "~assets": "./src/assets/",
          "~components": "./src/components/",
          "~containers": "./src/containers/",
          "~contexts": "./src/contexts/",
          "~hooks": "./src/hooks/",
          "~models": "./src/models/",
          "~pages": "./src/pages/",
          "~reducers": "./src/reducers/",
          "~redux": "./src/redux/",
          "~routes": "./src/routes/",
          "~schemas": "./src/schemas/",
          "~styles": "./src/styles/",
          "~themes": "./src/themes/",
          "~types": "./src/types/",
          "~utils": "./src/utils/"
        }
      }
    ]
  ]
}
