# Dependencias.
node_modules/

# Compilaciones.
dist/
*/dist/
target/
WixTools
.next/
.next/*

# Configuraciones.
src/config/*.*

# Variables de entorno.
.env

# Editor de codigo.
.vscode/

# Logs.
.yarn.error.log

# Locks
package-lock.json