// Dependencias.
@use "../../../../styles/colors" as Colors;

// Definición de estilos.
.CardLicencia_container {
  border-radius: 10px;

  background-color: Colors.$gray-color;

  padding-top: 1.25rem;

  width: 25%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.25rem;

  h1 {
    font-size: 1.25rem;
    font-weight: bold;

    color: Colors.$primary-color;
  }
}

.CardLicencia_containerActive {
  border-radius: 10px;
  border: 4px solid Colors.$primary-color;

  background-color: Colors.$gray-color;

  padding-top: 1.25rem;

  width: 25%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.25rem;

  h1 {
    font-size: 1.25rem;
    font-weight: bold;

    color: Colors.$primary-color;
  }
}

.CardLicencia_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 0.5rem;

  width: 80%;
  height: 100%;
}

.CardLicencia_listItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;

  p {
    color: Colors.$dark-color;

    font-size: 1rem;

    strong {
      font-weight: bold;
    }
  }
}

.CardLicencia_listItem-icon {
  color: Colors.$primary-color;
}

.CardLicencia_button {
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  padding-bottom: 1.25rem;
}
