// Dependencias.
@use "../../styles/colors" as Colors;

// Definición de estilos.
.cajaPage_container {
  width: 100%;
}

.cajaPage_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 1rem;
  align-items: center;
}
