// Dependencias.
@use "../../styles/colors" as Colors;

// Definición de estilos.
.cajaPage_container {
  width: 100%;
  height: 100vh;
}

.cajaPage_content {
  margin-left: 7.5rem;
  margin-right: 7.5rem;
  background-color: Colors.$white-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 15%;
    left: 3%;
  }
}

.cajaPage_navigation {
  width: 100%;
}

.cajaPage_Productos {
  background-color: Colors.$white-color;
  border: 4px solid Colors.$primary_dark-color;
  border-radius: 0.75rem;
  width: 45%;
  height: 65%;
  position: absolute;
  left: 2%;
  top: 22%;
  margin: 5px;
  padding: 1%;
  overflow: auto;
}

.cajaPage_Productos_titulo {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 25%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.cajaPage_Productos_producto {
  color: Colors.$primary_dark-color;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  margin: 1%;
  border: 2px solid Colors.$primary_dark-color;
  border-radius: 0.5rem;
  width: 95%;
  p {
    background-color: Colors.$gray-color;
    border-radius: 0.5rem;
    color: Colors.$primary_dark-color;
    padding: 5px;
  }
}

.cajaPage_Boton_agregar {
  border-color: Colors.$primary_dark-color;
  background-color: Colors.$primary_dark-color;
  color: aliceblue;
  height: 40px;
  width: 60px;
  border-radius: 0.3rem;
}

.cajaPage_Carro {
  background-color: Colors.$white-color;
  border: 4px solid Colors.$primary_dark-color;
  border-radius: 0.75rem;
  margin: 5px;

  width: 44%;
  height: 51%;

  position: absolute;
  left: 51%;
  top: 22%;
  overflow: auto;
  padding: 1%;
}

.cajaPage_Carro_titulo {
  font-size: 1.5rem;
}

.cajaPage_Carro_producto {
  color: Colors.$primary_dark-color;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  margin: 1%;
  border: 2px solid Colors.$primary_dark-color;
  border-radius: 0.5rem;
  width: 95%;
}

.cajaPage_Boton_quitar {
  border-color: Colors.$primary_dark-color;
  background-color: Colors.$primary_dark-color;
  color: aliceblue;
  height: 40px;
  width: 60px;
  border-radius: 0.3rem;
}

.cajaPage_Total {
  background-color: Colors.$white-color;
  border: 4px solid Colors.$primary_dark-color;
  border-radius: 0.75rem;
  width: 23%;
  height: 11%;
  position: absolute;
  left: 51%;
  top: 80%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: Colors.$primary_dark-color;
}

.cajaPage_Botones {
  position: absolute;
  top: 80%;
  left: 77%;
  width: 20%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /*border: 1px solid black;*/
}

.cajaPage_titulo {
  width: 100%;
  color: Colors.$primary-color;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.cajaPage_Buscador {
  width: 80%;
  height: 10%;
  margin-left: 50px;
  padding-left: 50px;
  margin-bottom: 10px;
  border: 2px solid Colors.$primary_dark-color;
  border-radius: 1rem;
  font-size: 1rem;
}

.cajaPage_carro_boton {
  border: 1px solid Colors.$primary-color;
  border-radius: 0.5rem;
  width: 30px;
  height: 20px;
  font-size: 1rem;
  margin: 5px;
}

.cajaPage_carro_cantidad {
  width: 21%;
  display: flex;
  justify-content: center;
  align-items: center;
}
