// Dependencias.
@use "../../styles/variables" as var;
@use "../../styles/colors" as color;

// Definición de estilos.
.header_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: color.$primary-color;

  height: 3rem;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

  .header_title {
    font-size: var.$font-md;
    font-weight: var.$font-wb;
    color: color.$white-color;

    justify-self: flex-start;
    position: absolute;
    left: 1rem;
  }

  .version_badge {
    position: absolute;
    right: 1rem;

    font-size: var.$font-sm;

    background-color: color.$white-color;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    border-radius: 1rem;
  }

  .container_items {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    align-items: center;
    align-content: center;
  }

  .item {
    font-size: var.$font-sm;
    color: color.$white-color;
    text-decoration: none;
    user-select: none;
  }

  .item_active {
    background-color: color.$primary_dark-color;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    border-radius: 0.5rem;
  }
}
