// Definición de colores.
$primary-color: #226f54;
$primary_dark-color: #1b5943;

$secondary-color: #ebebeb;

$white-color: #ffffff;
$white_bg-color: "";

$gray-color: #ebebeb;
$gray_bg-color: "";

$gray_dark-color: #a0a3bd;
$gray_dark_bg-color: "";

$dark-color: #7a7a7a;

$black-color: "";
$black_bg-color: "";
