// Definición de fuentes.

// Poppins
// Poppins : Light
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../assets/fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300;
}

// Poppins : Regular
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}

// Poppins : Medium
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

// Poppins : Semi-Bold
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

// Poppins : Bold
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

// Poppins: Back
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../assets/fonts/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 900;
  font-style: normal;
}
