// Dependencias.
@use "variables" as var;
@use "fonts" as font;
@use "colors" as Colors;

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700;900&display=swap");

// Configuraciones globales.
* {
  margin: 0px;
  padding: 0px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;

  text-decoration: none;

  scrollbar-width: thin;
  scrollbar-color: Colors.$primary-color Colors.$white-color;
}
