// Dependencias.
@use "variables" as var;
@use "fonts" as font;
@use "colors" as Colors;

// Configuraciones globales.
* {
  margin: 0px;
  padding: 0px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;

  text-decoration: none;

  scrollbar-width: thin;
  scrollbar-color: Colors.$primary-color Colors.$white-color;
}
