// Dependencias.
@use "variables" as var;
@use "fonts" as font;
@use "colors" as color;

// Configuraciones globales.
* {
  margin: 0px;
  padding: 0px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;

  scrollbar-width: none;

  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}
