.indexPage_contenedor {
  height: 100vh;
  width: 100%;
}

.indexPage_contenido {
  margin: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  gap: 2rem;
}
