// Dependencias.
@use "../../styles/colors" as Colors;

// Definición de estilos.
.indexPage_contenedor {
  width: 100%;
  height: 100%;
}

.indexPage_contenido {
  width: 100%;
  height: 100%;
}

.indexPage_header {
  background-color: Colors.$white-color;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
}

.indexPage_headerBanner {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;

  h1 {
    font-weight: bold;
    font-size: 1.5rem;
    color: Colors.$primary-color;
  }
}

.indexPage_newsContainer {
  width: 100%;
  height: 100%;

  background-color: Colors.$primary-color;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding: 1rem;
}
