// Dependencias.
@use "../../../../styles/colors" as Colors;

// Definición de estilos.
.Buttons_container {
  max-width: 30rem;
  min-width: 30rem;

  display: flex;

  flex-direction: row;
  justify-content: space-between;
}
