// Dependencias.
@use "../../styles/colors" as color;

// Definición de estilos.
.container-loading {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.container-cardVersionList {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}
