// Dependencias.
@use "../../../../styles/colors" as Colors;

// Definición de estilos.
.ListaTags_container {
  margin-top: 1rem;
  padding: 1.2rem 1rem;

  border: 4px solid Colors.$primary-color;
  border-radius: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 0.5rem;
}
