// Dependencias.
@use "../../../../styles/colors" as Colors;

// Definición de estilos.
.ItemList_container {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  background-color: Colors.$primary-color;
  border-width: 0px 2px 2px 0px;
  border-bottom-right-radius: 0.5rem;
  border-color: Colors.$primary_dark-color;
  border-style: solid;

  margin-right: 1rem;

  width: 10%;
}
