// Dependencias.
@use "../../styles/colors" as Colors;

// Definición de estilos.
.empleadosPage_container {
  width: 100%;
  height: 100vh;
}

.empleadosPage_content {
  margin-left: 7.5rem;
  margin-right: 7.5rem;

  background-color: Colors.$white-color;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
}

.empleadosPage_navigation {
  width: 100%;
}
