// Dependencias.
@use "../../styles/colors" as Colors;

// Definición de estilos.
.empleadosPage_container {
  width: 100%;
  height: 100vh;

  background-color: white;
}

.empleadosPage_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empleadosPage_botones {
  width: 90%;

  margin-bottom: 1.5rem;
  margin-top: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.empleadosPage_headerTitle {
  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: Colors.$primary-color;
  }
}

.empleadosPage_headerInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1rem;

  column-gap: 2rem;
}

.empleadosPage_statsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  column-gap: 2rem;

  background-color: Colors.$white-color;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  border: 3px solid Colors.$primary-color;
  border-radius: 0.5rem;

  h4 {
    font-size: 1rem;
    font-weight: bold;
    color: Colors.$primary-color;
  }
}



.empleadosPage_headerButtonStyle {
  background-color: brown;
}

// Lista de empleados.
.empleadosPage_listaEmpleados {
  width: 90%;

  border-radius: 0.5rem;
}
