// Dependencias.
@use "../../styles/colors" as Colors;

// Definición de estilos.
.inventarioPage_container {
  max-width: fit-content;
}

.inventarioPage_content {
  background-color: Colors.$white-color;

  height: 100%;

  padding-left: 1rem;

  display: flex;
  flex-direction: column;

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
}

.inventarioPage_content_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;

  column-gap: 2rem;

  padding-top: 1.25rem;

  max-width: fit-content;

  h1 {
    color: Colors.$primary-color;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
  }
}

.inventarioPage_content_container {
  height: 100%;

  margin-top: 1.25rem;

  border: 0.25rem dashed Colors.$gray-color;
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  overflow-y: scroll;

  scrollbar-width: thin;
  scrollbar-color: Colors.$primary-color Colors.$white-color;
}
