// Dependencias.
@use "../../../../styles/colors" as Colors;

// Definición de estilos.
.ProductContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  column-gap: 1rem;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  margin-bottom: 0.5rem;

  width: 95%;

  border: 3px solid Colors.$primary-color;
  border-radius: 0.25rem;

  cursor: default;
}

.ProductContainer-icon {
  background-color: Colors.$gray-color;
  padding: 0.5rem;
  border-radius: 0.5rem;

  max-width: 2rem;
  min-width: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  p {
    color: Colors.$primary-color;
  }
}

.ProductContainer-categoria {
  background-color: Colors.$gray-color;
  padding: 0.5rem;
  border-radius: 0.5rem;

  max-width: 10rem;
  min-width: 10rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1rem;
    font-weight: bold;
    color: Colors.$primary-color;
  }
}

.ProductContainer-nombre {
  background-color: Colors.$gray-color;
  padding: 0.5rem;
  border-radius: 0.5rem;

  max-width: 14rem;
  min-width: 14rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1rem;
    font-weight: bold;
    color: Colors.$primary-color;
  }
}

.ProductContainer-valor {
  background-color: Colors.$gray-color;
  padding: 0.5rem;
  border-radius: 0.5rem;

  max-width: 5rem;
  min-width: 5rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1rem;
    font-weight: bold;
    color: Colors.$primary-color;
  }
}

.ProductContainer-unidades {
  background-color: Colors.$gray-color;
  padding: 0.5rem;
  border-radius: 0.5rem;

  max-width: 4rem;
  min-width: 4rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1rem;
    font-weight: bold;
    color: Colors.$primary-color;
  }
}

.ProductContainer-disponibility {
  background-color: Colors.$gray-color;
  padding: 0.5rem;
  border-radius: 0.5rem;

  max-width: 10rem;
  min-width: 10rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1rem;
    font-weight: bold;
    color: Colors.$primary-color;
  }
}

.ProductContainer-buttons {
  align-self: flex-end;
  justify-self: flex-end;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  column-gap: 0.5rem;
}
