body {
  background-color: #e5e5e5;
}
.Formulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: "center";
  width: 30%;
  margin: auto;
  padding-top: 1px;
  padding-bottom: 30px;
}

.Boton {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: "center";
  width: 10%;
  padding: 30px;
  margin: auto;
}

a {
  text-align: center;
  margin-left: 800px;
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;

  display: flex;
}

a:link {
  color: #7a7a7a;
  display: flex;
}

a:visited {
  color: #7a7a7a;
  display: flex;
}

a:focus {
  border-bottom: 1px solid;
  background: none;
  display: flex;
}

a:hover {
  border-bottom: 1px solid;
  background: none;
}

a:active {
  color: #226f54;
}

.Titulo {
  color: #226f54;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: "center";
  padding-top: 8%;
  width: 30%;
  margin: auto;
}
