
body{
    background-color: #e5e5e5;
}
.Formulario{
    width: 500px;
    padding: 10px;
    margin:auto;
}

.Boton{
    margin-top: 70px;
    margin-left: 1053px;
}



a {
    margin-left: 800px;
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }


  a:link {
    color: #7A7A7A;
  }
  
  a:visited {
    color: #7A7A7A;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background:none;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background:none;
  }
  
  a:active {
    color:#226F54;
  }


.Titulo{
    color: #226F54 ;
    margin-top: 100px;
   margin-left: 710px;
}

