.registroPage_Formulario {
  width: 500px;
  padding: 10px;
  margin: auto;
}

.registroPage_Boton {
  margin-top: 70px;
  margin-left: 1053px;
}

.registroPage_hiper_link {
  margin-left: 800px;
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

.registroPage_hiper_link:link {
  color: #7a7a7a;
}

.registroPage_hiper_link:visited {
  color: #7a7a7a;
}

.registroPage_hiper_link:focus {
  border-bottom: 1px solid;
  background: none;
}

.registroPage_hiper_link:hover {
  border-bottom: 1px solid;
  background: none;
}

.registroPage_hiper_link:active {
  color: #226f54;
}

.registroPage_Titulo {
  color: #226f54;
  margin-top: 100px;
  margin-left: 710px;
}
