// Dependencias.
@use "../../styles/colors" as Colors;

// Definición de estilos.
.cuentaPage_container {
  width: 100%;
  height: 100vh;
}

.cuentaPage_content {
  margin-left: 7.5rem;
  margin-right: 7.5rem;

  background-color: Colors.$white-color;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.cuentaPage_navigation {
  width: 100%;
}

.cuentaPage_banner {
  margin-top: 1.25rem;

  h1 {
    color: Colors.$primary-color;
    font-weight: 700;
    font-size: 2rem;
  }

  p {
    color: Colors.$dark-color;
  }

  strong {
    font-weight: 700;
    font-size: 1.25rem;
  }
}
