// Dependencias.
@use "../../../../styles/colors" as Colors;

// Definiciones de estilos.
.FormularioLogin_container {
  margin-top: 0.125rem;

  width: 60%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin-left: 4rem;
}

.FormularioLogin_inputContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  row-gap: 1rem;

  margin-bottom: 1rem;
}

.FormularioLogin_forgetContainer {
  margin-top: 0.5rem;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
}

.FormularioLogin_buttonContainer {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  column-gap: 1rem;
  row-gap: 1rem;
}
