// Dependencias.
@use "../../styles/colors" as Colors;

// Definición de estilos.
.displayAuthModal {
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;
}

.contentAuthModal {
  background-color: #fff;
  border-radius: 15px;

  padding: 2rem;
  width: 30%;
}

.authTitle {
  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: Colors.$primary-color;
  }

  h2 {
    font-size: 1rem;
    color: Colors.$gray_dark-color;
  }
}

.authButtons {
  margin-top: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  gap: 1rem;
}
